<%- if controller_name != 'sessions' %>
  <div class="submit">
    <%= link_to "Sign in", new_session_path(resource_name), :class => "btn" %>
  </div>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="submit">
    <br><br>
    <%= link_to "Sign up", '/users/sign_up#menubar', :class => "btn" %>
  </div>
<% end -%>
