<div class="home">
  <div class="home-intro">
      <div id="game-title">緣起...</div>
      <div id="game-desc">沒有緣起，就是來復仇的XD</div>
  </div>
  <div class="home-frame">
    <iframe width="640" height="480" src="//www.youtube.com/embed/PVgHUo82ZSQ?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
