<div class="play">
  <div class="game">
    <div id="game-title"><img src="pac.png" width="40px" /> 猜密碼</div>
    <div id="game-desc">
      <p>合作猜出<strong>本網站個人密碼公式</strong></p>
      <p>千萬不要沒登入就按Play...</p>
      <p>以下開放認領：</p>
      <ol>
        <li>wwwww@gg.lab</li>
        <li>sssss@gg.lab</li>
        <li>ccccc@gg.lab</li>
        <li>ggggg@gg.lab</li>
        <li>yyyyy@gg.lab</li>
      </ol>
    </div>
  </div>
  <div class="game">
    <div id="game-title"><img src="pac.png" width="40px" /> 找到靈魂伴侶</div>
    <div id="game-desc">
      <p>在所有參與的人當中，<strong>找到「對的那個人」並搭配「對的物品」</strong>，即找到命中註定的另一半！</p>
      <p>配對方式：
        <ol>
          <li>先找到真實的物品</li>
          <li>與認定的對方及對方拿的物品，一起走到關主的位置</li>
          <li>大聲問出：<strong>「請問我們是命中註定的一對嗎？」</strong></li>
          <li>關主回答通過即成功！</li>
        </ol>
      </p>
      <p>為尊重靈魂伴侶，請勿亂槍打鳥，<strong>若同一個人來問了第二次還是失敗，恐怖訊息將會被開啟！</strong>
        <li>一旦恐怖訊息被開啟，不小心做出恐怖訊息動作者，在下一個關卡將得到懲罰！</li>
      </p>
      <p>破關獎勵：
        <ol>
          <li>第一對找到彼此的伴侶為獲勝者！</li>
          <li>獲勝者將得到最終大決戰的優先權！（極好康）</li>
        </ol>
      </p>
    </div>
    <div class="game-btn"><%= link_to 'Play', '/find_mate#menubar' %><img src="arrowright.png"/></div>
  </div>
  <div class="game">
    <div id="game-title"><img src="pac.png" width="40px" /> 圖片機智問答</div>
    <div id="game-desc">
      <p>接下來將有50張關於GLRG100x101的所有回憶照片，每張皆出成與圖片有關的問答題</p>
      <p>作答規則：
        <ol>
          <li>每題皆須作答</li>
          <li>前兩位答案正確者得分</li>
          <li>1題1分</li>
          <li>靈魂伴侶關卡不小心做出恐怖訊息動作者，總積分無條件扣5分</li>
          <li>50題做完之後，積分最高前兩名獲勝！</li>
          <li>獲勝者機得到最終大決戰的好處！（求之不得）</li>
        </ol>
      </p>
    </div>
    <div class="game-btn"><%= link_to 'Play', '/posts#menubar' %><img src="arrowright.png"/></div>
  </div>
  <div class="game">
    <div id="game-title"><img src="pac.png" width="40px" /> 畫片擂台賽</div>
    <div id="game-desc">
      <p><%= link_to '<何為畫片？>', 'http://www.youtube.com/watch?v=bWIIPkGWbUg', :target =>'_blank' %></p>
    </div>
    <div id="game-desc-img">
    </div>
  </div>
</div>
