<% if current_user.present? %>

<div class="game-play">
  <div id="game-title"><img src="https://dl.dropboxusercontent.com/u/44654998/gglab/pac.png" width="40px" /> 找到靈魂伴侶</div>
  <div id="game-desc">
    <p>親愛的<span id="user-name"><%= @user.user_name if current_user.present? %></span>，以下是你的物品：</p>
    <ol>
    <% @stuffs.each do |stuff| %>
      <li><%= stuff.name %></li>
    <% end %>
    </ol>
  </div>
  <div id="game-desc">
    <p>有一個幸運兒的靈魂伴侶是學長姐，Try it！</p>
    <li>雪迪：發哥令牌</li>
    <li>香菇：高鐵票</li>
    <li>小洛：工作證</li>
    <li>小丘：悠遊卡</li>
    <li>小憋：Mac <3 </li>
  </div>
  <div class="back-btn"><img src="https://dl.dropboxusercontent.com/u/44654998/gglab/arrowleft.png"/><%= link_to 'Back', '/intro/#menubar' %></div>
</div>
<% else %>
  <div class="game-play">沒猜對密碼不能偷跑啊！！！！！！！請先登入！！！！！！！！</div>
<% end %>