<div class="game-play">
  <div id="game-title"><img src="https://dl.dropboxusercontent.com/u/44654998/gglab/pac.png" width="40px" /> 圖片機智問答</div>
  <div id="game-desc">
    <p>接下來將有50張關於GLRG100x101的所有回憶照片，每張皆出成與圖片有關的問答題</p>
  </div>
  <div class="game-btn"><img src="https://dl.dropboxusercontent.com/u/44654998/gglab/arrowright.png"/></span><%= link_to 'Go！', '/posts/1#menubar' %></div>
</div>