/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1,h2,h3,p,div {
  font-family: halvitica, "微軟正黑體";
}
.answer input, .login input, .new-post input{
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-size: 20px;
}
table {
  width: 100%;
  text-align: left;
  border: 1px solid #aaa;
  padding: 10px;
}
.alert {
  color: red;
  line-height: 0;
  text-align: center;
}

.alert ul{
  list-style: none;
}

.login {
  text-decoration: none;
}

.submit {
  text-align: right;
  margin-top: 20px;
}
.submit .btn {
  background-color: #FFF;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px 20px;
  border: 1px solid #000;
  width: 106px;
  -webkit-transition: all 0.1s ease-out;
}
.submit a {
  text-decoration: none;
  color: #000;
}
.submit .btn:hover {
  background-color: #000;
  color: #fff;
}

.navbar {
  height: 900px;
  width: 100%;
  background-color: #000;
  background-image: url('https://dl.dropboxusercontent.com/u/44654998/gglab/bg2-blur.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
/*footer*/
#wrapper {
  min-height:100%;
  position: relative;
  padding-bottom: 80px;
  background-image: url('https://dl.dropboxusercontent.com/u/44654998/gglab/brushed.png');
}
.clearfix:after{
  content:"";
  display:block;
  clear:both;
}
.footer {
  height: 60px;
  /*position: relative;
  top: 0;*/
  background-color: #000;
  color: #fff;
  width: 100%;
  text-align: center;
  line-height: 60px;
  position:absolute;
  bottom: 0;
  /*z-index: -100;*/
}