/*content*/
.content {
  position: relative;
  background-color: #fff;
  width: 100%;
  min-height: 700px;
}

.menu {
  position: relative;
  width: 98%;
  height: 110px;
  top: 10px;
  margin-left: 1%;
}

.menu-link {
  position: relative;
  float: left;
  width: 25%;
  height: 75px;
  line-height: 70px;
  text-align: center;
  font-size: 2em;
  border: 1px solid;
  margin-left: -1px;
  text-decoration: none;
  font-family: halvitica;
  color: #000;
  letter-spacing: 10px;
}

.menu-link:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
  -webkit-transition: all 0.2s ease-out;
}

.menu-link:hover .menu-link:before:hover, #selected:before {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  width: 0;
  height: 0;
  top: 74px;
  left: 43.46%;
  border-top: 25px solid #000;
}

#selected {
  background-color: #000;
  color: #fff;
  border-color: #000;
}