/*header*/
.cover-box {
  border: 1px solid #fff;
  position: relative;
  margin: 0 auto;
  top: 150px;
  max-width: 500px;
  height: 450px;
}
.cover-box p {
  color: #fff;
}
.cover-box a{
  text-decoration: none;
  color: #fff;
}
.cover-box #title {
  position: absolute;
  font-size: 11em;
  width: 100%;
  height: 176px;
  margin: 0;
  text-align: center;
  line-height: 215px;
}
.cover-box #sub-title {
  position: absolute;
  top: 145px;
  font-size: 2em;
  width: 100%;
  text-align: center;
  line-height: 50px;
  font-family: monospace;
}
.cover-box #sub-title:before, #sub-title:after {
  content: "";
  display: block;
  width: 30%;
  border: 1px solid #eee;
  position: absolute;
  top: 25px;
}
.cover-box #sub-title:before {
  left: 15px;
}
.cover-box #sub-title:after {
  right: 15px;
}
.cover-box #date {
  position: absolute;
  top: 115px;
  width: 100%;
  height: 50px;
  margin-left: 3%;
  font-size: 6em;
  text-align: center;
  letter-spacing: 30px;
  line-height: 100px;
}
.cover-box #time {
  width: 94%;
  margin-left: 3%;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  letter-spacing: 20px;
  font-size: 2em;
  position: absolute;
  top: 290px;
  line-height: 40px;
  padding-left: 4.5%;
  font-family: monospace;
}
.gift{
  position:relative;
}
.gift:before{
  content: "";
  position: absolute;
  border: 5px solid transparent;
  width: 0;
  height: 0;
  border-top: 15px solid #fff;
  top: -7px;
  right: 6px;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
       -o-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation: topdown1 ease-in 0.5s infinite alternate;
}
.gift:after{
  content: "";
  position: absolute;
  border: 5px solid transparent;
  width: 0;
  height: 0;
  border-top: 15px solid #fff;
  top: -9px;
  right: 16px;
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
       -o-transform: rotate(-5deg);
          transform: rotate(-5deg);
  -webkit-animation: topdown2 ease-in 0.5s infinite alternate;
  }
  @-webkit-keyframes topdown1 {
  from {top: -7px;}
  to {top: -3px;}
  }
  @-webkit-keyframes topdown2 {
  from {top: -9px;}
  to {top: -5px;}
}
.cover-box #desc {
  font-family: 'Nanum Pen Script', fantasy;
  font-size: 3em;
  letter-spacing: 5px;
  position: absolute;
  top: 325px;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.5s ease;
}

.cover-box #desc:hover{
  color: #FCFC7F;
  cursor: pointer;
}

@media screen and (max-device-width: 480px) {
  .cover-box #title {
    font-size: 8em;
  }
  .cover-box #sub-title {
    font-size: 1.5em;
  }
  .cover-box #date {
    font-size: 4em;
    top: 140px;
  }
  .cover-box #time {
    font-size: 1.5em;
  }
  .cover-box #desc {
    font-size: 2em;
    top: 350px;
  }
}