/*member*/
.member {
  position: relative;
  width: 94%;
  /*height: 1400px;*/
  margin: 0 4%;
}

.member-100, .member-101 {
  width: 100%;
}
.member-100 > div, .member-101 > div {
  float: left;
  border-top: 10px solid;
  width: 18%;
  margin-right: 2%;
  margin-bottom: 60px;
  height: 600px;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
}
.member-100-1 {
  background-image: url('https://dl.dropboxusercontent.com/u/44654998/gglab/shady.png');
}
.member-100-2 {
  background-image: url('https://dl.dropboxusercontent.com/u/44654998/gglab/roe.png');
}
.member-100-3 {
  background-image: url('https://dl.dropboxusercontent.com/u/44654998/gglab/annie.png');
}
.member-100-4 {
  background-image: url('https://dl.dropboxusercontent.com/u/44654998/gglab/eat.png');
}
.member-100-5 {
  background-image: url('https://dl.dropboxusercontent.com/u/44654998/gglab/chu.png');
}
.member-101-1 {
  background-image: url('https://dl.dropboxusercontent.com/u/44654998/gglab/handsome.png');
}
.member-101-2 {
  background-image: url('https://dl.dropboxusercontent.com/u/44654998/gglab/summer.png');
}
.member-101-3 {
  background-image: url('https://dl.dropboxusercontent.com/u/44654998/gglab/yen.png');
}
.member-101-4 {
  background-image: url('https://dl.dropboxusercontent.com/u/44654998/gglab/hsu.png');
}
.member-101-5 {
  background-image: url('https://dl.dropboxusercontent.com/u/44654998/gglab/boo.png');
}
.member-100-desc, .member-101-desc {
  margin-top: 480px;
  background-color: rgba(0,0,0,0.4);
  font-size: 18px;
  letter-spacing: 1px;
  padding: 1px 15px;
  line-height: 7px;
  color: #fff;
}