/*member*/
.member {
  position: relative;
  width: 1400px;
  margin-left: 20px;
}
.member-100 > div, .member-101 > div {
  float: left;
  border-top: 10px solid;
  width: 240px;
  height: 500px;
  margin: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.member-100-1 {
  background-image: url('shady.png');
}
.member-100-2 {
  background-image: url('roe.png');
}
.member-100-3 {
  background-image: url('annie.png');
}
.member-100-4 {
  background-image: url('eat.png');
}
.member-100-5 {
  background-image: url('chu.png');
}
.member-101-1 {
  background-image: url('handsome.png');
}
.member-101-2 {
  background-image: url('summer.png');
}
.member-101-3 {
  background-image: url('yen.png');
}
.member-101-4 {
  background-image: url('hsu.png');
}
.member-101-5 {
  background-image: url('boo.png');
}
.member-100-desc, .member-101-desc {
  margin-top: 380px;
  background-color: rgba(0,0,0,0.4);
  font-size: 18px;
  letter-spacing: 1px;
  padding: 1px 15px;
  line-height: 7px;
  color: #fff;
}