/*menu*/

.menu {
  position: relative;
  width: 100%;
  top: -90px;
  padding-top: 7px;
  height: 75px;
  z-index: 1 !important;
}

.menu-link {
  position: relative;
  float: left;
  width: 25%;
  height: 75px;
  line-height: 70px;
  text-align: center;
  font-size: 2em;
  border: 1px solid;
  text-decoration: none;
  font-family: 'Helvetica Neue', "微軟正黑體";
  font-weight: lighter;
  color: #fff;
  letter-spacing: 10px;
  background-color: rgba(0,0,0,0.5);
}

.menu-link span {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #E6D0BE;
  -webkit-transition: opacity 0.2s ease;
}

.menu-link:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: #FFE8E8;
  border-color: #fff;
  -webkit-transition: all 0.2s ease-out;
}

.menu.active-fixed .menu-link:hover {
  background-color: #666;
}

.menu.active-fixed #selected {
  background-color: #666;
}

.menu.active-fixed .menu-link span {
  background-color: #666;
}

.menu-link span:hover {
  opacity: 1;
}

.menu-link:hover .menu-link:before:hover, #selected:before {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  width: 0;
  height: 0;
  top: 74px;
  left: 43.46%;
  border-top: 25px solid rgba(163, 158, 158, 0.53);
}

#selected {
  background-color: rgba(255, 255, 255, 0.4);
  color: #FFE8E8;
  border-color: #fff;
}

@media screen and (min-width: 900px) and (max-width: 1280px) {
  .menu-link {
    font-size: 1.7em;
    letter-spacing: 3px;
  }
  .menu-link:hover .menu-link:before:hover, #selected:before {
    left: 44%;
  }
}

@media screen and (min-width: 640px) and (max-width: 899px) {
  .menu-link {
    font-size: 1.2em;
    letter-spacing: 2px;
  }
  .menu-link:hover .menu-link:before:hover, #selected:before {
    left: 40%;
  }
}

@media screen and (min-width: 481px) and (max-width: 639px) {
  .menu-link {
    font-size: 0.9em;
    letter-spacing: 1px;
  }
  .menu-link:hover .menu-link:before:hover, #selected:before {
    left: 40%;
  }
}

@media screen and (max-width: 480px) {
  .menu-link {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
  }
  .menu-link:hover, #selected, .menu.active-fixed .menu-link span{
    background-color: #fff;
    color: #000;
  }

  .menu.active-fixed .menu-link:hover {
    background-color: #fff;
  }

  .menu-link:hover .menu-link:before:hover, #selected:before {
    display: none;
  }
  .content {
    padding-top: 375px;
  }
}