.play {
  position: relative;
  width: 98%;
  /*height: 1000px;*/
  margin: 0 2%;
}
.game {
  position: relative;
  float: left;
  width: 23%;
  margin-right: 2%;
}

.game-play{
  width: 50%;
  /*min-height: 680px;*/
  margin: 0 auto;
  padding: 30px 0;
}

.home{
  width: 100%;
  height: 700px;
}

.home-intro{
  margin-left: 10%;
  width: 25%;
}

.rules-intro{
  margin-left: 10%;
  width: 50%;
}

.home-frame{
  text-align: right;
  position: relative;
  right: 10%;
  top: -60px;
}

.home-frame img{
  margin-top: -80px;
  position: relative;
  right: -90%;
}

@media screen and (max-width: 1280px) {
  .rules-intro, .home-intro{
    width: 80%;
  }
  .home-frame {
    top: 90px;
  }
  .home-frame img {
    left: 15%;
  }
  .game {
    float: none;
    width: 98%;
  }
  #game-desc-img {
    margin: 0 15%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1280px) {
  .game-play {
    width: 70%;
  }
}
@media screen and (min-width: 481px) and (max-width: 899px) {
  .game-play {
    width: 90%;
  }
}
@media screen and (max-device-width: 480px) {
  .game-play {
    width: 100%;
  }
  .game-play #mate-desc {
    font-size: 1em;
  }
  .game-play #user-name {
    font-size: 1em;
  }
}


#game-title {
  font-size: 2em;
  letter-spacing: 7px;
  border-bottom: 3px solid #D1CDC1;
  line-height: 60px;
}

#game-desc, #mate-desc {
  font-size: 1.2em;
  letter-spacing: 1px;
  margin: 10px;
}

#game-desc-down {
  margin-top: 180px;
}

#game-desc-down p {
  border: 1px solid #aaa;
  padding: 30px;
  width: 20%;
  text-align: center;
  float: left;
  line-height: 24px;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

#game-desc li {
  margin-left: 10px;
  line-height: 26px;
}
#game-desc a {
  text-decoration: underline;
  color: #CF3A3A;
}
#mate-desc li {
  margin-left: 10px;
  line-height: 26px;
  border: 1px solid #aaa;
  padding: 30px;
  width: 20%;
  list-style: none;
  float: left;
  text-align: center;
}

.game-btn, .back-btn{
  border: 1px solid #000;
  border-radius: 5px;
  width: 128px;
  letter-spacing: 5px;
  line-height: 50px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 38px;
  margin-bottom: 50px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
}
.game-btn:hover, .back-btn:hover {
  padding-left: 20px;
  padding-right: 50px;
}
.game-btn img, .back-btn img {
  line-height: 50px;
  position: absolute;
  right: -35px;
  top: 14px;
  -webkit-transition: all 0.3s ease;
}
.game-btn:hover img, .back-btn:hover img{
  position: absolute;
  right: 12px;
  top: 14px;
  -webkit-transition: all 0.3s ease;
}
.game-btn a, .back-btn a {
  text-decoration: none;
  color: #000;
}
