.play {
  position: relative;
  width: 100%;
  min-height: 160px;
  top: 10px;
  padding-left: 12px;
  margin-bottom: 70px;
}
.game {
  position: relative;
  float: left;
  width: 355px;
}

.game-play{
  width: 800px;
  min-height: 100px;
  margin: 0 auto;
}

#game-title {
  font-size: 2em;
  letter-spacing: 7px;
  border-bottom: 3px solid #eee;
  line-height: 60px;
}

#game-desc {
  font-size: 1.2em;
  letter-spacing: 1px;
  margin: 10px;
}

#game-desc li {
  margin-left: 10px;
  line-height: 26px;
}
.game-btn, .back-btn{
  border: 1px solid #000;
  border-radius: 5px;
  display: inline-block;
  width: 128px;
  letter-spacing: 5px;
  line-height: 50px;
  margin-left: 35%;
  overflow: hidden;
  padding: 0 38px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
}
.game-btn:hover, .back-btn:hover {
  padding-left: 20px;
  padding-right: 50px;
}
.game-btn .lsf-icon, .back-btn .lsf-icon {
  line-height: 50px;
  position: absolute;
  right: -35px;
  top: 0;
  -webkit-transition: all 0.3s ease;
}
.game-btn:hover .lsf-icon, .back-btn:hover .lsf-icon{
  position: absolute;
  right: 0;
  -webkit-transition: all 0.3s ease;
}
.game-btn a, .back-btn a {
  text-decoration: none;
  color: #000;
}
