.play {
  position: relative;
  width: 98%;
  /*height: 1000px;*/
  margin: 0 2%;
  padding: 30px 0;
}
.game {
  position: relative;
  float: left;
  width: 23%;
  margin-right: 2%;
}

.game-play{
  width: 50%;
  /*min-height: 680px;*/
  margin: 0 auto;
  padding: 30px 0;
}

#game-title {
  font-size: 2em;
  letter-spacing: 7px;
  border-bottom: 3px solid #eee;
  line-height: 60px;
}

#game-desc {
  font-size: 1.2em;
  letter-spacing: 1px;
  margin: 10px;
}

#game-desc li {
  margin-left: 10px;
  line-height: 26px;
}
.game-btn, .back-btn{
  border: 1px solid #000;
  border-radius: 5px;
  width: 128px;
  letter-spacing: 5px;
  line-height: 50px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 38px;
  margin-bottom: 50px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
}
.game-btn:hover, .back-btn:hover {
  padding-left: 20px;
  padding-right: 50px;
}
.game-btn img, .back-btn img {
  line-height: 50px;
  position: absolute;
  right: -35px;
  top: 14px;
  -webkit-transition: all 0.3s ease;
}
.game-btn:hover img, .back-btn:hover img{
  position: absolute;
  right: 12px;
  top: 14px;
  -webkit-transition: all 0.3s ease;
}
.game-btn a, .back-btn a {
  text-decoration: none;
  color: #000;
}
