.post {
  width: 60%;
  position: relative;
  left: 5%;
  top: -25px;
  z-index: 0;
}

.post h1 {
  width: 70%;
}

#user-name {
  color: #0E138A;
  font-size: 27px;
  border: 3px solid #0E138A;
  padding: 5px;
  letter-spacing: 5px;
  margin: 0 10px;
}
#game-desc-img {
  height: 500px;
  background-image: url('https://dl.dropboxusercontent.com/u/44654998/gglab/game5.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px;
}
.comment {
  position: absolute;
  top: -25px;
  left: 50%;
  width: 50%;
}
.comment .game {
  width: 90%;
  margin-bottom: 80px;
}
.comment p {
  border: 1px solid #aaa;
  line-height: 60px;
  padding-left: 20px;
  margin-right: 10%;
}
.comment .game-btn {
  margin-right: 10%;
  margin-bottom: 0;
}

#comment-title .submit {
  text-align: left;
  position: absolute;
  margin-top: 0;
  margin-left: 20px;
}

#comment-title .submit .btn {
  padding: 5px;
  width: 40px;
}

#comment-title .submit .btn:hover {
  background-color: #B91A1A;
}

.answer {
  margin-top: 70px;
  border-top: 1px dashed #999;
  padding-top: 40px;
}

@media screen and (min-width: 900px) {
  .comment .answer > input{
    width: 90%;
  }
  .comment .submit{
    margin-right: 10%;
  }
}

@media screen and (min-width: 481px) and (max-width: 899px) {
  .post, .post table {
    width: 94%;
  }
  .post img {
    width: 80%;
    position: relative;
    left:10%;
  }
  .comment {
    position: relative;
    width: 94%;
    left: 3%;
  }
  .comment p {
    margin-right: 0;
  }
  .comment .game-btn {
    margin-right: 0;
  }
}


@media screen and (max-width: 480px) {
  .post, .post table {
    width: 100%;
    left: 0;
  }
  .post img {
    width: 100%;
  }
  .comment {
    position: relative;
    width: 96%;
    left: 2%;
  }
  .comment p {
    margin-right: 0;
  }
  .comment .game-btn {
    margin-right: 0;
  }
}