.post {
  width: 60%;
  margin: 0 auto;
  position: relative;
  left: -40%;
  top: -25px;
}

#user-name {
  color: #0E138A;
  font-size: 27px;
  border: 3px solid #0E138A;
  padding: 5px;
  letter-spacing: 5px;
  margin: 0 10px;
}
#game-desc-img {
  height: 500px;
  background-image: url('https://dl.dropboxusercontent.com/u/44654998/gglab/game5.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px;
}
.comment {
  position: relative;
  top: 50px;
  left: 50%;
  width: 50%;
}
.comment .game {
  width: 90%;
  margin-bottom: 80px;
}
.comment p {
  border: 1px solid #aaa;
  line-height: 60px;
  padding-left: 20px;
}
.comment .game-btn {
  margin-right: 10%;
  margin-bottom: 0;
}
.answer {
  margin-top: 70px;
  border-top: 1px dashed #999;
  padding-top: 40px;
}