.post {
  width: 600px;
  height: 1000px;
  margin: 0 auto;
  position: relative;
  left: -360px;
}

#user-name {
  color: #0E138A;
  font-size: 27px;
  border: 3px solid #0E138A;
  padding: 5px;
  letter-spacing: 5px;
  margin: 0 10px;
}
#game-desc-img {
  height: 500px;
  background-image: url('https://dl.dropboxusercontent.com/u/44654998/gglab/game5.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.comment {
  position: absolute;
  top: 140px;
  left: 745px;
}
.comment .game {
  width: 620px;
}
.comment p {
  border: 1px solid #aaa;
  line-height: 60px;
  padding-left: 20px;
}
.comment .game-btn {
  margin-left: 490px;
  margin-bottom: 0;
}
.answer {
  margin-top: 70px;
  border-top: 1px dashed #999;
  padding-top: 40px;
}